:root {
  --bg-color: #fff;
  --secondary-bg-color: #eeeeee;
  --heading-color: #5f5f5f;
  --body-color: rgba(0, 0, 0, 0.7);
  --post-color: rgba(0, 0, 0, 0.44);
  --border-color: rgba(0, 0, 0, 0.15);
  --pre-bg-color: #f9f9fd;
  --nav-text-color: #5a5a5a;
  --tag-color: #424242;
  --blockquote-text-color: #858585;
  --blockquote-border-color: #dfe2e5;
  scroll-padding-top: 100px;
}

.nav {
  font-size: 24px;
  margin: 0px auto 80px auto;
  max-width: 600px;
  text-align: center;
}

html {
  line-height: 1.6;
  letter-spacing: .05em;
}

body, button, input, select, textarea {
  color: #3b3e48;
  font-family: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;
}

.posts__wrapper {
  padding-top: 24px;
  max-width: 768px;
  margin: 0 auto;
}

.post__container {
  padding: 0 0 3em;
}

a {
  color: #3b3e48;
  text-decoration: none;
  border: none;
  transition-property: color;
  transition-duration: .4s;
  transition-timing-function: ease-out;
  border-bottom: 1px solid var(--border-color);
  display: block;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


p {
  margin: 0;
}
